<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="addForm">
    课程名称:<input type="text" name="coursename"><br>
    课程等级:<select name="courselevel">
                <option value="0">请选择</option>
                <option value="1">极品课程</option>
                <option value="2">精品课程</option>
                <option value="3">普通课程</option>
            </select><br>
    老师:<input type="text" name="teacher"><br>
    老师等级:<select name="teacherlevel">
                <option value="0">请选择</option>
                <option value="1">金牌讲师</option>
                <option value="2">银牌讲师</option>
                <option value="3">精英讲师</option>
            </select><br>
    价格:<input type="text" name="price"><br>
    状态:<input type="radio" name="status" value="1">未付款
        <input type="radio" name="status" value="1">已付款<br>
    下单时间:<input type="date" name="createtime"><br>
    科目名称:<input type="text" name="subjectname"><br>
</form>
</body>
</html>