<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../js/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../js/bootstrap-treeview/dist/bootstrap-treeview.min.css" rel="stylesheet">
    <link href="../js/bootStrap-addTabs/bootstrap.addtabs.css" rel="stylesheet">
    <link href="../js/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
    <link href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../js/bootstrap-dialog/dist/css/bootstrap-dialog.css" rel="stylesheet">
    <link href="../js/bootstrap-fileinput/css/fileinput.css" rel="stylesheet">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.js"></script>
    <script src="../js/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../js/bootstrap-dialog/dist/js/bootstrap-dialog.js"></script>
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
</head>
<body>

恭喜登录成功

<!--
<div>这是首页</div> <br/><br/>

<div shiro:notAuthenticated > &lt;!&ndash; 用户未登录时显示的内容，不需要给这个属性赋值 &ndash;&gt;
    <a href="/toPage/login">登录</a>
    <a href="/toPage/registe">注册</a>
</div> <br/><br/>

<div shiro:authenticated > &lt;!&ndash; 用户登录时显示的内容，不需要给这个属性赋值 &ndash;&gt;
    <span>欢迎您：<span  th:text="${user_name}"></span></span>
</div> <br/><br/>

<div>
    <ul>
        <li><a href="/resouces/a">这是资源A，只有登录后才能访问</a></li>
        <li><a href="/resouces/b">这是资源B，拥有"get:b"权限才能访问</a></li>
    </ul>
</div>
-->

</body>
</html>