<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.MenusMapper" >
<!--<if test="typeid==1">
	<select id="queryMenusTree" resultType="com.jk.model.Menus">
 		select * from t_menus where pid =#{pid}
 	</select>
</if>-->

 	<!--<select id="queryMenusTree" resultType="com.jk.model.Menus">
 		select * from t_menus where pid =#{pid}
 	</select>-->
	<select id="queryMenusTree" resultType="com.jk.model.Menus">
		select * from t_menus where pid =#{pid}
		<if test="typeid==1">
 		  and typeid= #{typeid}
		</if>
	</select>
</mapper>